{% extends 'main/base.html' %}
{% load static %}
{% load my_tags %}

{% block index %}

<div class="content " style="width: 70%; min-height: 600px">
    <div class="movie_block float-left">
        <h1 style="margin-top: 15px; margin-bottom: 15px">{{ ms.movie.title }}</h1>
        <div class="movie_image float-left d-inline-block">
            <img src="{{ ms.movie.image.url }}" class=""  alt="..." width="200px">
        </div>

        <div class="movie_details float-left d-inline-block align-top mt-1" style="margin-left: 15px">
            <p class="genre">
                Жанры: {{ ms.movie.get_genres_str }}
            </p>
            <p class="date">
                Год выхода: {{ ms.movie.year }} год
            </p>
            <p class="countries">
                Страна: {{ ms.movie.country }}
            </p>
            <p class="duration">
                {% if ms.movie.duration|modulo:60 == 0 %}
                    Продолжительность: {{ ms.movie.duration|div_nr:60 }} ч.
                {% elif  ms.movie.duration < 60 %}
                    Продолжительность: {{ ms.movie.duration }} мин.
                {% else %}
                    Продолжительность: {{ ms.movie.duration|div_nr:60 }} ч. {{ ms.movie.duration|modulo:60 }} мин.
                {% endif %}
            </p>
            <p class="rate">
                <span class="fa fa-star" style="color: orange"><span style="color: black">{{ ms.movie.rate }}</span></span>
            </p>

        </div>
    </div>

    <div class="movie_tabs" style="margin-top: 25px; margin-bottom: 25px">
        <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link" id="nav-description-tab" data-bs-toggle="tab" data-bs-target="#nav-description" type="button" role="tab" aria-controls="nav-description" aria-selected="true">О фильме</button>
            <button class="nav-link active" id="nav-booking-tab" data-bs-toggle="tab" data-bs-target="#nav-booking" type="button" role="tab" aria-controls="nav-booking" aria-selected="false">Бронирование</button>
        </div>
        </nav>
        <div class="tab-content mt-2" id="nav-tabContent">
            <div class="tab-pane fade" id="nav-description" role="tabpanel" aria-labelledby="nav-description-tab">
                {{ ms.movie.description }}
            </div>
            <div class="tab-pane fade show active" id="nav-booking" role="tabpanel" aria-labelledby="nav-booking-tab">
                <div class="cinema-info">
                    <p>Город: {{ ms.cinema.city.name }}</p>
                    <p>Кинотеатр: {{ ms.cinema.name }}</p>
                </div>
                <div class="seats" style="margin-top: 20px">
<!--                    <div class="screen text-center" style="margin-bottom: 25px; margin-left: 10px; width: 400px; height: 20px; background-color: lightgoldenrodyellow;">Экран</div>-->
                    <div class="row justify-content-md-center">
                        <div class="col-lg-8 screen text-center">Экран</div>
                    </div>


                    {% for seat_row in seats %}
                         <div class="seats row justify-content-lg-center" style="margin-bottom: 15px">
                             <div class="col-lg-8 row justify-content-lg-center gx-2">
                                 {% for seat in seat_row %}
                                    {% if seat <= 21 %}
                                        {% if seat in b_seats %}
<!--                                            <div class="seat text-center" style="background-color: red; width: 50px; height: 25px; margin-right: 15px;">{{ seat }}</div>-->
                                            <div class="col-lg-1 seat seat-red text-center">{{ seat }}</div>
                                        {% else %}
<!--                                            <div class="seat text-center" style="background-color: green; width: 50px; height: 25px; margin-right: 15px;">{{ seat }}</div>-->
                                            <div class="col-lg-1 seat seat-green text-center">{{ seat }}</div>
                                        {% endif %}
                                    {% else %}
                                        {% if seat in b_seats %}
<!--                                            <div class="seat text-center" style="background-color: red; width: 50px; height: 25px; margin-left: 15px">{{ seat }}</div>-->
                                            <div class="col-lg-1 seat seat-red text-center">{{ seat }}</div>
                                        {% else %}
<!--                                            <div class="seat text-center" style="background-color: green; width: 50px; height: 25px; margin-left: 15px">{{ seat }}</div>-->
                                            <div class="col-lg-1 seat seat-green text-center">{{ seat }}</div>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                             </div>
                         </div>
                    {% endfor %}
                </div>
                <p>Цена: {{ ms.price }} грн</p>
                <p>Дата и время: {{ ms.date }}</p>
                {% if user.is_authenticated %}
                    <form method='post'>
                        {% csrf_token %}
                        <span class="d-inline-block" style="width: 25%">
                            <p>Выберите места:</p>
                            <select class="form-select" name="seats" required id="id_seats" multiple >
                                {% for seat_row in seats %}
                                    {% for seat in seat_row %}
                                        {% if seat not in b_seats %}
                                            <option value="{{ seat }}">{{ seat }}</option>
                                        {% endif %}}
                                    {% endfor %}
                                {% endfor %}
                            </select>
                        </span>
                        <span class="d-inline-block" style="width: 50%; margin-left: 10%">
                            <p>Примечания: </p>
                            <textarea name="description" class="form-control rounded-0" id="id_description" rows="3" ></textarea>
                        </span>

                        <p>
                            <input type='submit' class="btn btn-primary float-left" value='Забронировать' style="margin-top: 20px">
                        </p>
                    </form>
                {% elif all_booked %}
                    <p>Все места заняты</p>
                {% else %}
                    <p>Чтобы забронировать билеты вы должны сначала авторизироваться!</p>
                {% endif %}
            </div>
            
        </div>
    </div>


</div>

{% endblock %}