{% extends 'main/base.html' %}
{% load static %}

{% block index %}

<div class="content " style="width: 70%; min-height: 600px">
    <div class="movie_block float-left">
        <h1 style="margin-top: 15px; margin-bottom: 15px">{{ ms.session_movie.movie_title }}</h1>
        <div class="movie_image float-left d-inline-block">
            <img src="{{ ms.session_movie.movie_image.url }}" class=""  alt="..." width="200px">
        </div>

        <div class="movie_details float-left d-inline-block align-top mt-1" style="margin-left: 15px">
            <p class="genre">
                Жанры: {{ ms.session_movie.get_genres_str }}
            </p>
            <p class="date">
                Год выхода: {{ ms.session_movie.movie_year }} год
            </p>
            <p class="countries">
                Страна: {{ ms.session_movie.movie_country }}
            </p>
            <p class="duration">
                Продолжительность: {{ ms.session_movie.movie_duration }} мин.
            </p>
        </div>
    </div>

    <div class="movie_tabs" style="margin-top: 25px; margin-bottom: 25px">
        <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link" id="nav-description-tab" data-bs-toggle="tab" data-bs-target="#nav-description" type="button" role="tab" aria-controls="nav-description" aria-selected="true">О фильме</button>
            <button class="nav-link active" id="nav-booking-tab" data-bs-toggle="tab" data-bs-target="#nav-booking" type="button" role="tab" aria-controls="nav-booking" aria-selected="false">Бронирование</button>
            <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</button>
        </div>
        </nav>
        <div class="tab-content mt-2" id="nav-tabContent">
            <div class="tab-pane fade" id="nav-description" role="tabpanel" aria-labelledby="nav-description-tab">
                {{ ms.session_movie.movie_description }}
            </div>
            <div class="tab-pane fade show active" id="nav-booking" role="tabpanel" aria-labelledby="nav-booking-tab">
                <div class="seats" style="margin-top: 20px">
                    <div class="screen text-center" style="margin-bottom: 25px; margin-left: 10px; width: 400px; height: 20px; background-color: lightgoldenrodyellow;">Экран</div>

                    {% for seat_row in seats %}
                         <div class="seats row" style="margin-bottom: 15px">
                             {% for seat in seat_row %}
                                {% if seat <= 21 %}
                                    {% if seat in b_seats %}
                                        <div class="seat text-center" style="background-color: red; width: 50px; height: 25px; margin-right: 15px;">{{ seat }}</div>
                                    {% else %}
                                        <div class="seat text-center" style="background-color: green; width: 50px; height: 25px; margin-right: 15px;">{{ seat }}</div>
                                    {% endif %}
                                {% else %}
                                    {% if seat in b_seats %}
                                        <div class="seat text-center" style="background-color: red; width: 50px; height: 25px; margin-left: 15px">{{ seat }}</div>
                                    {% else %}
                                        <div class="seat text-center" style="background-color: green; width: 50px; height: 25px; margin-left: 15px">{{ seat }}</div>
                                    {% endif %}
                                {% endif %}
                             {% endfor %}
                         </div>
                    {% endfor %}
                </div>
                <p>Цена: {{ ms.session_price }}</p>
                <p>Дата и время: {{ ms.session_date }}</p>
                <p>Form for booking</p>
<!--                <script>-->
<!--                    $(document).ready(function() {-->
<!--                        $('.selectpicker').selectpicker();-->
<!--                    });-->
<!--                </script>-->
                <select class="selectpicker" multiple >
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                  <option value="4">Four</option>
                  <option value="5">Five</option>
                </select>

                <select class="selectpicker" multiple title="Choose one of the following...">
                    <option>Mustard</option>
                    <option>Ketchup</option>
                    <option>Relish</option>
                </select>


            </div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
        </div>
    </div>


</div>

{% endblock %}