{% extends 'main/base.html' %}
{% load static %}

{% block index %}

<div class="content " style="width: 70%">
    <div class="filter_block bg-light p-1 " style="width: 100%; margin-top: 20px; margin-bottom: 20px">
        <form method="get" class="">
            <span class="text-danger d-inline-block">Needs js!!!</span>
            <span class="d-inline-block mx-2">Filter by date</span>
            <span class="d-inline-block mx-2">Filter by genre</span>
            <span class="d-inline-block mx-2" style="float: right">Search</span>
        </form>
<!--    gg    -->
    </div>

    <div class="movie_list float-left">
        {% for ms in page %}
        <div class="movie_block">
            <a class="movie_img float-left d-inline-block text-decoration-none" href="{% url 'main:detail' pk=ms.pk %}">
                <img src="{{ ms.session_movie.movie_image.url }}" class=""  alt="..." width="200px">
            </a>
            <div class="movie_details float-left d-inline-block align-top mt-1" style="margin-left: 15px">
                <a href="{% url 'main:detail' pk=ms.pk %}" class="text-decoration-none">
                    {{ ms.session_movie.movie_title }}
                </a>
                <p class="genre">
                    {{ ms.session_movie.get_genres_str }}
                </p>
                <p class="date">
                    {{ ms.session_movie.movie_year }} год
                </p>
            </div>
        </div>
        <hr>
        {% endfor %}
    </div>



</div>

<div class="center-block px-auto" style="display: block;">
    <nav aria-label="...">
        <ul class="pagination">
            {% if page.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page.previous_page_number }}">Предыдущая</a>
<!--                <span class="page-link"><a href="?page={{ page.previous_page_number }}"></a>Предыдущая</span>-->
            </li>
            {% else %}
            <li class="page-item disabled">
              <span class="page-link">Предыдущая</span>
            </li>
            {% endif %}

            {% for i in page.paginator.page_range %}
                {% if i == page.number %}
                    <li class="page-item active">
                      <span class="page-link">
                        {{ page.number }}
<!--                        <span class="sr-only">(current)</span>-->
                      </span>
                    </li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}


<!--            <li class="page-item"><a class="page-link" href="#">1</a></li>-->
<!--            <li class="page-item active">-->
<!--              <span class="page-link">-->
<!--                2-->
<!--                <span class="sr-only">(current)</span>-->
<!--              </span>-->
<!--            </li>-->
<!--            <li class="page-item"><a class="page-link" href="#">3</a></li>-->

            {% if page.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page.next_page_number }}">Следующая</a>
            </li>
            {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#">Следующая</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>

{% endblock %}