{% extends 'main/base.html' %}
{% load static %}

{% block index %}

<div class="content " style="min-height: 600px">

    <div id="simple_login" class="justify-content-center container">
		<h2 style="margin-top: 15px; margin-bottom: 15px">Вход</h2>
		<form method="post">
			{% csrf_token %}
			<div class="mb-3">
				<input type="text" class="form-control" placeholder="Имя пользователя:" name="username" required="" id="id_username">
			</div>

			<div class="mb-3">
				<input type="password" class="form-control" placeholder="Пароль:" name="password" required="" id="id_password">
			</div>

			<div class="mb-3">
				<label for="id_remember_me">Запомнить меня:</label>
				<input type="checkbox" class="form-check-input" name="remember_me" id="id_remember_me">
			</div>

			<div class="">
				<input type="submit" class="btn btn-primary" value="Войти">
            </div>

		</form>
		<p><a href="{% url 'main:password_reset' %}" class="text-primary text-decoration-none">Забыли пароль?</a>
	</div>

</div>

{% endblock %}