{% extends 'main/base.html' %}
{% load static %}

{% block index %}

<div class="content " style="min-height: 600px">

    <div id="simle_login">
		<h2 style="margin-top: 15px; margin-bottom: 15px">Вход</h2>
		<form method="post">
			{% csrf_token %}
			{% for hidden in form.hidden_fields %}
				{{ hidden }}
			{% endfor %}
			{% for field in form.visible_fields %}
				<div class="form_elem float-left mt-2">
				{{ field.label_tag }}
				{{ field }}
				{{ field.help_text }}
				</div>
			{% endfor %}
            <p style="margin-top: 20px">
			<input type="submit" class="text-primary" value="Войти">
			</p>
		</form>
		<p><a href="{% url 'main:password_reset' %}" class="text-primary text-decoration-none">Забыли пароль?</a>
	</div>

</div>

{% endblock %}