{% extends 'main/base.html' %}
{% load static %}

{% block index %}

<div class="content " style="min-height: 600px">
    <div id="profile_page">
        <h1 style="margin-top: 10px; margin-bottom: 10px">Добро пожаловать {{ user.username }}</h1>
        <div class="profile_tabs" style="margin-top: 25px">
        <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-bookings-tab" data-bs-toggle="tab" data-bs-target="#nav-bookings" type="button" role="tab" aria-controls="nav-bookings" aria-selected="true">Мои Бронирования</button>
            <button class="nav-link" id="nav-data-tab" data-bs-toggle="tab" data-bs-target="#nav-data" type="button" role="tab" aria-controls="nav-data" aria-selected="false">Данные пользователя</button>
            <button class="nav-link" id="nav-settings-tab" data-bs-toggle="tab" data-bs-target="#nav-settings" type="button" role="tab" aria-controls="nav-settings" aria-selected="false">Настройки</button>
        </div>
        </nav>
        <div class="tab-content mt-2" id="nav-tabContent">
            <div class="tab-pane fade  show active" id="nav-bookings" role="tabpanel" aria-labelledby="nav-bookings-tab">
                <div id="user_bookings">
					{% if bookings %}
						{% for booking in bookings %}
							<div class="user_booking">
								<div class="b_in">
                                    <p><h2>{{ booking.booking_code }}</h2></p>
                                    <p>Статус: <b>{{ booking.booking_status }}</b></p>
                                    <p>
                                        <span class="movie_title d-inline-block">
                                            Сеанс:
                                            <a href="{% url 'main:detail' pk=booking.booking_session.pk %}" class="text-decoration-none">
                                                {{ booking.booking_session.session_movie.movie_title }}
                                                -
                                                {{ booking.booking_session.session_date }}
                                            </a>
                                        </span>
                                    </p>
                                    <p>
                                        <span class="seats d-inline-block">
                                            Места: {{ booking.get_seats }}
                                        </span>
                                        <span class="payment d-inline-block mx-2">
                                            Цена за билет: {{ booking.booking_session.session_price }}
                                        </span>
                                        <span class="payment d-inline-block mx-2">
                                            {% if booking.booking_payment %}
                                                {% if booking.booking_payment.payment_is_done %}
                                                    <span class="text-success">Оплачено</span>
                                                {% else %}
                                                    Не оплачено
                                                {% endif %}
                                            {% else %}
                                                Не оплачено
                                            {% endif %}
                                        </span>
                                        {% if booking.booking_payment %}
                                            {% if not booking.booking_payment.payment_is_done %}
                                                <span class="payment d-inline-block mx-2">
                                                    <a href="{% url 'main:payment' pk=booking.pk %}" class="text-decoration-none">Оплатить</a>
                                                </span>
                                            {% endif %}
                                        {% else %}
                                            <span class="payment d-inline-block mx-2">
                                                <a href="{% url 'main:payment' pk=booking.pk %}" class="text-decoration-none">Оплатить</a>
                                            </span>
                                        {% endif %}

                                    </p>
                                        {% if booking.booking_description %}
                                            <p>Примечание: {{ booking.booking_description }}</p>
                                        {% endif %}

                                    {% if booking.booking_status != 'Отменен' %}
                                    <!--        Button trigger modal                       -->
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        Отменить бронирование
                                    </button>
                                    {% endif %}


<!--                                    # booking_owner-->
<!--                                    # booking_code-->
<!--                                    # booking_payment-->
<!--                                    # booking_seats-->
<!--                                    # booking_session-->
<!--                                    # booking_status-->
<!--                                    # booking_description-->
<!--                                    # booking_date
                                        get_seats
-->
								</div>
<!--          gggggggggggggggggg                      -->

                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Отмена бронирования</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                    <form method="post">
                                                        {% csrf_token %}
                                                        <div class="modal-body">
                                                            <input type='hidden' value='{{booking.pk}}' name='booking_pk'>
                                                            Вы действительно хотитет удалить бронирование
                                                            <br>
                                                            {{ booking.booking_session.session_movie.movie_title }}
                                                            -
                                                            {{ booking.booking_session.session_date }}
                                                            <br>
                                                            места: {{ booking.get_seats }}
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                                            <input type="submit" class="btn btn-primary" value="Удалить бронирование" name="cancel_booking_submit">
                                                        </div>
                                                    </form>
                                            </div>
                                        </div>
                                    </div>


<!--             ggggggggggggggg                   -->
							</div>
                            <hr>
						{% endfor %}
					{% else %}
						<p class="m-2">У вас нет бронирований!</p>
					{% endif %}
				</div>
            </div>
            <div class="tab-pane fade" id="nav-data" role="tabpanel" aria-labelledby="nav-data-tab">
                <div id="user_data">
                    <p class="ml-2">Логин: {{ user.username }}</p>
                    <p class="ml-2">Email: {{ user.email }}</p>
                {% if user.first_name %}
                    <p class="ml-2">Имя: {{ user.first_name }}</p>
                {% endif %}
                {% if user.last_name %}
                    <p class="ml-2">Фамилия: {{ user.last_name }}</p>
                {% endif %}
                </div>
            </div>
            <div class="tab-pane fade" id="nav-settings" role="tabpanel" aria-labelledby="nav-settings-tab">
                <div id="user_settings">
                    <div class="setting float-left mt-2">
                        <!--        Button trigger modal                       -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#changePasswordModal">
                            Сменить пароль
                        </button>
<!--                        <a href="{% url 'main:password_change' %}" class="text-decoration-none">Сменить пароль</a>-->
                    </div>
                    <div class="setting float-left mt-2">
                        <!--        Button trigger modal                       -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#changeInfoModal">
                            <a href="{% url 'main:profile_change' %}" class="text-decoration-none" style="color: white">Изменить данные пользователя</a>
                        </button>

                    </div>
                    <div class="setting float-left mt-2">
                        <!--        Button trigger modal                       -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteUserModal">
                            Удалить аккаунт
                        </button>
                    </div>
                </div>

                <!-- Modal for changing password -->
                <div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="changePasswordModalLabel">Смена пароля</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="modal-body">
                                        {{ form.as_p }}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                        <input type="submit" class="btn btn-primary" value="Сменить пароль" name="change_password_submit">
                                    </div>
                                </form>
                        </div>
                    </div>
                </div>

                <!-- Modal for deleting user -->
                <div class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteUserModalLabel">Удалить аккаунт</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="modal-body">
                                        Вы действительно хотите удалить аккаунт?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                        <input type="submit" class="btn btn-primary" value="Удалить аккаунт" name="delete_user_submit">
                                    </div>
                                </form>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    </div>

</div>

{% endblock %}